[Unit]
Description=RClone Service
PartOf=gmedia.service
RequiresMountsFor=/mnt/merged/media

[Service]
Type=notify
Environment=RCLONE_CONFIG=/home/ruben/docker/rclone/configurations/rclone.conf
ExecStart=/usr/bin/rclone mount gcrypt: /GD \
   --allow-other \
   --buffer-size 256M \
   --dir-cache-time 72h \
   --drive-chunk-size 32M \
   --log-level DEBUG \
   --log-file /home/ruben/docker/rclone/configurations/rcloneservice.log \
   --timeout 1h \
   --umask 002 \
   --vfs-read-chunk-size 128M \
   --vfs-read-chunk-size-limit off

ExecStop=/bin/fusermount -uz /GD
Restart=on-failure
User=ruben
Group=docker

[Install]
WantedBy=gmedia.service
